<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: head}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>코드 글쓰기</title>
</head>
<script src="/js/inputImgHandler.js"></script>
<body>
<section>


<div th:insert="~{fragments/navbar :: navbar}" id="codeForm"></div>
<div class="text-dark">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-10 col-xl-8">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex flex-start w-100">
                        <div class="w-100">
                            <div class="form-outline">
                                <form th:method="post" id="daysCheck" th:action="|@{/boards/tasks/{taskId}/check (taskId=${taskId})}|" th:object="${filterInfo}" style="width: 50vw;display: inline-block;">
                                    <div class="row">
                                        <div class="col-sm-auto">
                                            <label for="week" id="course" class = "btn" th:text="${courseName}" />
                                            <select th:field="*{week}" id="week" style="width:40px;">
                                                <option th:value="${week}" th:text="${week}"/>
                                                <option th:each="week : ${#numbers.sequence(1,53)}" th:value="${week}" th:text="${week}"/>
                                            </select>
                                            <label for="day" class = "btn">주차</label>
                                            <select th:field="*{day}" id="day" style="width:40px;margin-top:10px">
                                                <option th:value="${day}" th:text="${day}"/>
                                                <option th:each="day : ${#numbers.sequence(1,7)}" th:value="${day}" th:text="${day}"/>
                                            </select>
                                            <label for="day" class="btn">일차</label>
                                            <button class="btn btn-primary btn-sm" type="submit" onclick="onDays()">조회</button>
                                        </div>
                                    </div>
                                </form>
                                <hr/>
                                <form id="writeForm" autocomplete="off" th:method="post" th:action="|@{/boards/tasks/{taskId} (taskId=${taskId})}|" th:object="${boardCreateRequest}" enctype="multipart/form-data">
                                    <div>
                                        <h1>Task 선택</h1>
                                        <select id="selTaskId" onchange="setTaskId(this.value)">
                                            <option th:each="task :${taskList}" th:value="${task.id}" th:text="${task.title}"></option>
                                        </select>
                                        <hr class="hr">
                                    </div>
                                    <div>
                                        <!--        th:value="${userName}"-->
                                        <input id="userName" type="hidden" name="userName" th:value="${userName}" />
<!--                                        <input type="hidden" name="taskId" id="taskId" th:value="${taskId}" />-->
                                        <input class="mt-8" type="text" style="width: 60vw;" maxlength='30' th:field="*{title}" id="title" placeholder="제목을 입력해주세요."/>
                                        <div id="titleAlert"></div>
                                        <br/>
                                        <input type="hidden" id="writer" name="writer" maxlength='10' th:value="${userName}"/>
                                        <br/>
                                        <div id="content_div">
                                            <textarea name="codeContent" id="codeContent" th:field="*{codeContent}" hidden></textarea>
                                            <textarea class="form-control" style="height:250px;width:50vw;border: 0.5px solid;" maxlength='1000' id="content" th:field="*{content}" name="content"></textarea>
                                            <div id="editor_toolbar" style="margin: 10px;">
                                                <input type="hidden" id="language" name="language" th:field="*{language}">
<!--                                                <select class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                                                </select>-->
                                            </div>
                                            <div id="editor" style="width:50vw; height: 250px; overflow-y: scroll;"></div>
                                        </div>
                                        <br/>
                                        <div class="mb-4">
                                            <label for="images-input" class="form-label">이미지 선택</label>
                                            <input class="form-control border" type="file" name="file" id="images-input" accept="image/png, image/jpeg, image/jpg, image/gif">
                                            <div class="thumbnails row row-cols-4"></div>
                                        </div>
                                        <input type="submit" id="submitBtn"  class="btn btn-outline-primary mr-2" value="작성">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!--  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.0/ace.js" integrity="sha512-vgArOyW+sdp69qm3025hO1uoxhMZ7rzc2NZbaC/0eUD92rYIx4YSI/NdQ1+oINXb8tXoFQJyQqpfV9KxoPGuCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--<script src="http://ajaxorg.github.io/ace-builds/src/ace.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/ext-language_tools.min.js" integrity="sha512-jwHjfXzlZZWm/JrYIjGauBO9fNDoxtrl5uVEh8SVu5nZGO38FCFiHx7N5NfLQWsi+cjT4vQcZl9UNLc3oCm+TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

<script>
    const alertPlaceholder = document.getElementById('titleAlert')

    const alert = (message) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-danger d-flex align-items-center" style="width: 270px;height: 45px;margin-top: 10px" role="alert">`,
            `<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>`,
            `<div>${message}</div>`,
            '   <button type="button" class="btn-close" style="margin-left: 40px" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        alertPlaceholder.append(wrapper)
    }

    const alertTrigger = document.getElementById('submitBtn')
    if (alertTrigger) {
        alertTrigger.addEventListener('click', () => {
            alert('제목을 입력해주세요.')
        })
    }

    $(document).ready(function() {
        $("#writeForm").submit(function (event) {
            var title = $('#title').val();
            if (title == "") {
             //   $('#title').addClass('alert alert-danger');

                setTimeout(function(){ $('#title'). focus (); }, 500);
                event.preventDefault();
                return;
            }
        });
    });
    //ace editor 기본 세팅
    let editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
    let postContent = $("#codeContent").val()
    document.getElementById('editor').style.fontSize='20px';
    ace.config.loadModule('ace/ext/language_tools', function() {
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        })
    });

    let modes = ["javascript", "html", "css", "python",  "java"];
    let modeDropdown = document.createElement("select");
    let lang = $("#language").val()
    lang = "javascript"
    modeDropdown.style.width = "30vw";
    for (let i = 0; i < modes.length; i++) {
        let option = document.createElement("option");
        option.text = modes[i];
        modeDropdown.add(option);
    }
    modeDropdown.addEventListener("change", function() {
        let mode = this.value;
        lang = mode;
        editor.session.setMode("ace/mode/" + mode);
    });

    // 툴바에 버튼 추가
    let toolbar = document.getElementById("editor_toolbar");
    toolbar.appendChild(modeDropdown);



    // editor value를 codeContent로 넣어주는 과정
    $("#editor").on("propertychange change keyup paste input ", function() {
        postContent = editor.getValue();
        console.log(postContent)
    });
    document.getElementById("writeForm").onsubmit = function(evt){
        document.getElementById("codeContent").value = editor.getValue();
        document.getElementById("language").value = lang
    }



</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let taskData = /*[[${taskId}]]*/ 0;
    console.log(taskData)
    if(taskData === 0){
        // taskId 기본값 설정
        let task = document.getElementById("selTaskId").value;
        document.querySelector('#writeForm').action = `/boards/tasks/${task}`;
        // console.log(document.querySelector('#writeForm').action)
        // taskId 동적 변경
        }else{
        document.getElementById("selTaskId").value = taskData
        document.querySelector('#writeForm').action = `/boards/tasks/${taskData}`;
        console.log(document.querySelector('#writeForm').action)
    }
    function setTaskId(taskId) {
        taskData = taskId
        document.querySelector('#writeForm').action = `/boards/tasks/${taskId}`;
        console.log(document.getElementById("selTaskId").value)
        // console.log(document.querySelector('#writeForm').action)
    }
// 조회버튼을 누르면 taskId 랑 week, day를 받아 야함
    function onDays(){
        let taskId = 0
        document.querySelector('#daysCheck').action = `/boards/tasks/${taskId}/check`;
    }

    const imageInput = document.querySelector('input#images-input');
    imageInput.addEventListener('change', event => imageInputOnChange(event));
    /*]]>*/
</script>

</body>
</html>